*{
    margin: 0;
    padding: 0;
}

#addTodo{
    margin: 10px 0;
}
.MainApp{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todoItem{
    margin: 9px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modalButton{
    display: flex;
}

